<div class="working-area">
    <p class="work-heading">My Recent Work</p>
<p class="work-text">Here are a few past projects I've worked on. Want to see more?</p>
<a href="mailto:tanzeelakmal728@gmail.com" target="_blank" class="email" > Email me.</a>

</div>

<div class="recent-work" style="margin-top: 90px;">
    <div class="project-card">
        <img src="assets\images\titanforge.png" loading="lazy">
    </div>
    <div class="project-card">
        <img src="assets\images\soundbox.png" loading="lazy">
    </div>
    <div class="project-card">
        <img src="assets\images\ai.png" loading="lazy">
    </div>
    <div class="project-card">
        <img src="assets\images\resumebuilder.png" loading="lazy">
    </div>
    <div class="project-card">
        <img src="assets\images\library.png" loading="lazy">
    </div>
    <div class="project-card">
        <img src="assets\images\coffee.png" loading="lazy">
    </div>
</div>

<a target="blank" href="https://github.com/TanzeelX?tab=repositories" class="github">View All Projects</a>

<hr class="divider">