<div class="area">
    <p class="certificates-heading">My Certifications</p>
    <p class="certificates-text">Here are a few past certificates I've completed.</p>
</div>


<div class="certificates" style="margin-top: 80px;">
    <div class="certificate-card">
        <img class="img" src="assets\images\c3.png" loading="lazy">
    </div>
    <div class="certificate-card">
        <img class="img" src="assets\images\c1.png" loading="lazy">
    </div>
    <div class="certificate-card">
        <img class="img" src="assets\images\c5.png" loading="lazy">
    </div>
</div>

